<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<link rel="shortcut icon" href="#">

</head>
<body>
	<input type="text" name="userName" value="James Carrot" th:value="${test}" />
	 <table>
      <tr>
        <th>ID</th>
        <th>PASSWORD</th>
      </tr>
      <tr th:each="list : ${memberList}">
        <td th:text="${list.id}">아이디</td>
        <td th:text="${list.password}">패스워드</td>
   
      </tr>
    </table>
  
</body>

</html>
